In [1]:
import os.path as osp
import  pandas as pd
import dask.dataframe as dd

/Users/semio/.pyenv/versions/3.6.2/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
source_dir = '../../cause/deaths/'

In [6]:
df = dd.read_csv("../../cause/deaths/ddf--datapoints--deaths_percent*.csv", dtype={'deaths_percent': 'float64'})

In [7]:
df = df.compute()

In [8]:
df.shape

(80240832, 6)

In [9]:
df.head()

   location  sex  age  cause  year  deaths_percent
0         6    1    2    294  1990             1.0
1         6    1    2    294  1991             1.0
2         6    1    2    294  1992             1.0
3         6    1    2    294  1993             1.0
4         6    1    2    294  1994             1.0